//Footer in bottom (always)
/*
html {height: 100%}
body {min-height: 100%; position: relative; padding-bottom: 180px;}
.pane-footer {position: absolute; width: 100%; bottom: 0; left: 0}

@media screen and (max-width: 991px) {
  body {padding-bottom: 145px;}
}

@media screen and (max-width: 761px) {
  body {padding-bottom: 160px;}
}

@media screen and (max-width: 627px) {
  body {padding-bottom: 180px;}
}
@media screen and (max-width: 460px) {
  body {padding-bottom: 305px;}
}

@media screen and (max-width: 357px) {
  body {padding-bottom: 320px;}
}
*/

.pane-footer {
  #mini-panel-footer {
    @include make-row;
    padding-top: 45px;
  }

  //Footer top menu
  .pane-menu-menu-footer {
    .menu {
      display: table;
      width: 100%;
      position: relative;
      padding-bottom: 80px;
      @media screen and (max-width: 991px) {
        padding-bottom: 45px;
      }
      @media screen and (max-width: 460px) {
        padding-bottom: 10px;
      }

      li {
        display: table-cell;
        width: 20%;
        padding: 0 12px;
        position: static;
        vertical-align: top;

        @media screen and (max-width: 530px) {
          padding: 0 9px;
        }

        @media screen and (max-width: 460px) {
          width: 100%;
          display: block;
          margin-bottom: 5px;
        }
        > a {
          display: block;
          text-align: center;
          padding: 10px 0;
          color: white;
          font-family: $base-font;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          border-radius: 3px;
          @media screen and (max-width: 1199px) {
            font-size: 15px;
          }
          @media screen and (max-width: 991px) {
            font-size: 11px;
          }
          @media screen and (max-width: 767px) {
            padding: 10px 5px;
          }
          @media screen and (max-width: 761px) and (min-width: 461px) {
            padding: 19px 5px;
          }
        }

        &:nth-child(1){
          @media screen and (min-width: 461px) {
            padding-left: 0;
          }

          > a {
            background-color: #01a002;

            &:hover {
              background-color: #01a002 * 0.9;
            }
          }
        }
        &:nth-child(2){
          > a {
            background-image: linear-gradient(to top, #b99a05 0%, #e2ad3c 28%, #d2ac17 49.5%, #d2ac17 50%, #d2ac17 50.5%, #e2ad3c 72%, #b99a05 100%);

            &:hover {
              background-image: linear-gradient(to top, #b99a05 7%, #e2ad3c 28%, #e2ad3c 72%, #b99a05 106%);
            }
          }
        }
        &:nth-child(3){
          > a {
            background-color: #374eff;

            &:hover {
              background-color: #374eff * 0.8;
            }

            @media screen and (max-width: 656px) {
              padding: 10px 5px;
            }
          }
        }
        &:nth-child(4){
          > a {
            background-color: #62329b;

            &:hover {
              background-color: #62329b * 0.8;
            }
            @media screen and (max-width: 759px) {
              padding: 10px 5px;
            }
          }
        }
        &:nth-child(5){
          @media screen and (min-width: 461px) {
            padding-right: 0;
          }

          > a {
            background-color: #000;

            &:hover {
              background-color: #404040;
            }
          }
        }

        span {
          display: none;
          color: black;
          font-family: $font-stack;
          font-size: 17px;
          font-weight: 400;

          a {
            font-weight: 700;
            color: #3d9db6;

            &:after {
              content: '';
              display: inline-block;
              border: 7px solid transparent;
              border-left: 12px solid #3d9db6;
              margin-left: 8px;
              margin-bottom: -2px;
            }
          }
        }

        &:hover span {
          display: block;
          width: 100%;
          padding-top: 30px;
          margin-top: 20px;
          text-align: center;
          position: absolute;
          left: 0;
          top: 20px;

          @media screen and (max-width: 991px) {
            display: none;
          }
        }
      }
    }
  }

  //Footer bottom
  .pane-footer-bottom {

    .arrows {
      width: 46px;
      height: 50px;
      background: #118abc;
      position: relative;
      float: left;
      @media screen and (max-width: 991px) {
        width: 40px;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }

      &:after {
        content: '';
        border: 23px solid transparent;
        border-bottom: 12px solid #118abc;
        position: absolute;
        top: -35px;
        left: 0;

        @media screen and (max-width: 991px) {
          width: 40px;
          border: 20px solid transparent;
          border-bottom: 12px solid #118abc;
          top: -32px;
        }
      }

      .pane-content {
        width: 6px;
        height: 6px;
        background: white;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: 0;
        left: 50%;
        margin-left: -3px;
      }
    }

    .square {
      float: left;

      @media screen and (max-width: 767px) {
        display: none;
      }

      .pane-content {
        height: 50px;
        > div {
          width: 48px;
          height: 45px;
          margin-top: 5px;
          float: left;
          border-left: 1px solid #747474;
          background: #303437;
          position: relative;

          @media screen and (max-width: 991px) {
            width: 39px;
          }
          &:last-child {
            border-right: 1px solid #747474;
          }

          .circle {
            width: 6px;
            height: 6px;
            background: white;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: -3px;
            left: 50%;
            margin-left: -3px;
          }
        }
      }
    }

    .copyright {
      width: 100%;
      max-width: 877px;
      background: #303437;
      float: left;
      margin-top: 5px;
      text-align: center;
      padding: 12px 0 11px 0;

      @media screen and (max-width: 1199px) {
        max-width: 677px;
      }
      @media screen and (max-width: 991px) {
        max-width: 507px;
        padding: 14px 0 13px 0;
      }

      @media screen and (max-width: 767px) {
        width: 80%;
        max-width: none;
        padding-left: 10px;
        padding-right: 10px;

      }

      p {
        color: white;
        font-family: $font-stack;
        font-size: 16px;
        font-weight: 300;

        @media screen and (max-width: 991px) {
          font-size: 13px
        }
      }
    }

    .terms-of-use {
      float: left;
      background-color: #118abc;
      margin-top: 5px;
      width: 100%;
      max-width: 151px;
      text-align: center;
      padding: 13px 0 12px 0;

      @media screen and (max-width: 991px) {
        max-width: 125px;
      }
      @media screen and (max-width: 767px) {
        width: 20%;
        max-width: none;
      }
      @media screen and (max-width: 566px) {
        padding: 11px 5px 12px 1px;
      }
      @media screen and (max-width: 557px) {
        padding: 12px 5px 11px 5px;
      }
      @media screen and (max-width: 321px) {
        padding: 21px 5px 20px 5px;
      }

      a {
        text-shadow: -1.4px 1.4px 7px rgba(0, 0, 0, 0.81);
        text-transform: uppercase;
        color: white!important;
        font-family: $base-font;
        font-size: 12px;
        font-weight: 400;

        @media screen and (max-width: 627px) {
          font-size: 11px;
        }

        &:after {
          content: '';
          display: inline-block;
          border: 5px solid transparent;
          border-left: 10px solid #fff;
          margin-left: 8px;

          @media screen and (max-width: 627px){
            margin-bottom: -1px;
          }
          @media screen and (max-width: 400px){
            display: none;
          }
        }
      }
    }
  }
}